body {
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

hr {
	border-top: 1px solid $middle-grey;
	height: 2px;
    margin: 60px auto;
	max-width: 100px;

	&.light {
		border-top: 1px solid #fff;
    	border-bottom: 1px solid #fff;
	}
}

.about {
	padding: 30px 0 60px 0;

	.big {
		font-size: 50px;
		font-weight: 300;
		margin-bottom: 0;
	}

	.sub {
		font-size: 25px;
		font-weight: 300;
		padding-top: 30px;
	}
}

.reserve {
	background: $dark-grey;
	color: $white;
	padding: 45px 0;

	p {
		font-size: 40px;
		font-weight: 300;
	}
}

.caption {
	position: relative;
	height: 100%;
	color: #fff;

	.content {
		left: 50%;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 30px;
			font-weight: 100;
			padding-bottom: 20px;
		}

		.sub {
			text-align: left;			
			h4 {
				font-size: 20px;
				font-weight: 100;
			}
		}
	}
}

.clients {
	min-height: 200px;
	padding: 30px 0;
}

.footer {
	img {
		margin-top: -3px;
		max-height: 14px;
	}

	.copyright {
		padding-bottom: 5px;
	}
}

.home {
	position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio {
	width: 100%;
	background: $dark-grey;
}

.testimonials {
	background: $light-grey;
	min-height: 300px;
	padding: 60px 0;

	.intro {
		p {
			color: $dark-grey;
			font-size: 40px;
			font-weight: 300;

			&:first-child {
				color: $darker-grey;
				font-weight: 400;
			}

			strong {
				color: $black;
			}
		}
	}

	.case {
		padding-top: 50px;

		div {
			background: $white;
		}

		.header {
			border-bottom: 1px solid $light-grey;
			padding: 15px;

			cite {
				img {
					display: inline-block;
					height: $testimonial-image-height;
				}

				div {
					display: inline-block;
					height: $testimonial-image-height;
					padding-top: 0;
					position: relative;

					span {
						text-align: left;
					}

					.name {
						padding-top: 38px;
					}
				}
			}
		}

		.quote {
			padding: 15px;
		}

			
	}
}

.contact {
	padding: 30px 0;

	.border {
		border-right: 1px solid $middle-grey;
	}

	.info {
		padding: 15px 0;

		p {
			display: block;
			font-weight: 300;
			letter-spacing: 0.05em;
			margin: 0;
			text-transform: uppercase;
		}

		.fa {
			color: $dark-grey;
			display: block;
			font-size: 35px;
			padding-bottom: 20px;
		}
	}

	.social {
		font-size: 25px;
		padding-top: 30px;

		a {
			color: $dark-grey;
			padding: 0 10px;

			&:hover {
				color: $middle-grey;
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 768px) {
	hr {
		max-width: 200px;
	}
}