@import '_variables';

.navbar-custom {
	background: $white;
    border: 0;
    border-color: $light-grey !important;
    border-bottom: 1px solid $light-grey !important;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-family: "Inconsolata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 13px;
    z-index: 15 !important;
    -webkit-transition: $nav-transition;
    -moz-transition: $nav-transition;
    -ms-transition: $nav-transition;
    -o-transition: $nav-transition;
    transition: $nav-transition;

    li {
        a {
            margin: 10px 5px;
            padding: 5px 10px;

            &:hover {
                color: $black;
                background: transparent;
            }

            &.btn:hover {
                color: $white;
                background: $black;
            }

            &.btn {
                border: 1px solid $black;
                color: $black;
            }
        }
    }

    .navbar-brand {
        color: $black;
    	-webkit-transition: $nav-transition;
	    -moz-transition: $nav-transition;
	    -ms-transition: $nav-transition;
	    -o-transition: $nav-transition;
	    transition: $nav-transition;
    }
}

.navbar-transparent {
    box-shadow: none;
	li {
		a {
    		border: none;

            &:hover, &.btn:hover {
                background: transparent;
                font-weight: bold;
            }

            &.btn:hover {
                background: $white;
            }

            &.btn {
                border: 1px solid $white;
    			color: $white;
            }
		}
	}
}

@media (min-width: 768px) {
    .navbar-transparent {
        background: transparent;
        border: none !important;
        padding-bottom: $body-padding;
        padding-top: $body-padding;

        .nav {
            li {
                a {
                    color: $white;
                }
            }
        }

        .navbar-brand {
            color: $white;
        }
    }
}