@import '_variables';

.publications {
	background: $light-grey;
	padding: 30px 0;

	p {
		color: $dark-grey;
		font-size: 20px;
		font-weight: 100;
	}

	.featured {
		color: $dark-grey;
		font-size: 40px;
		font-weight: 300;
		position: relative;
		top: -10px;
	}
}