@import '_variables';

.quote {
	blockquote {
		border: 0;
		font-size: 20px;
		font-weight: 300;
		quotes: none;

		p {
			padding: 40px 0;
		}

		.quotations {
			&:after, &:before {
				background: center no-repeat;
				content: "";
				display: block;
				height: 76px;
				position: absolute;
				width: 87px;
			}

			&:after {
				background-image: url('/images/bg-quote-close.png');
				bottom: -5px;
				right: -75px;
			}

			&:before {
				background-image: url('/images/bg-quote-open.png');
				left: -75px;
				top: 5px;
			}
		}
	}
}

cite {
	img {
		border: 5px solid $middle-grey;
		border-radius: 180px;
		max-height: 190px;
	}

	span {
		display: block;
	}

	.name {
		font-size: 30px;
		font-weight: 500;
		padding-top: 10px;
		text-align: right;
	}

	.title {
		font-size: 18px;
		font-weight: 100;
		margin-top: -14px;
		margin-right: -4px;
		padding-bottom: 10px;
		text-align: right;
	}
}

@media (max-width: 768px) {
    .quote {
    	blockquote {
    		.quotations {
    			&:after {
    				display: none;
    			}
    		}
    	}
    }
}