$black: #000;
$white: #fff;
$darker-grey: #444;
$dark-grey: #666;
$middle-grey: #bbb;
$light-grey: #f5f5f5;
$spicy-red: #c24023;

$nav-transition: all 0.4s ease-in-out 0s;

$body-padding: 15px;
$body-margin: 15px;

$images-max-height: 110px;
$testimonial-image-height: 130px;